################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MatrixLabProject/SurveyAppWebApi/.vs/SurveyAppWebApi/v15/Server/sqlite3/db.lock
